@charset "UTF-8";

/* 回答はここに書いてね */

.q4__contents{
  padding: 20px;
}

.q4__content{
  display: table;
  width: 100%;
  margin-top: 20px;
}

.q4__content:first-child{
  margin-top: 0;
}

.q4__content__sell{
  display: table-cell;
  padding: 20px;
  text-align: center;
}

.pink__sell{
  background-color: #fdc8b8;
  width: 100px;
}

.purple__sell{
  background-color: #e0abd9;
}

.blue__sell{
  background-color: #b6d8ed;
  width: 100px;
}

.yellow__sell{
  background-color: #e5d32e;
}

.red__sell{
  background-color: #ec8f9a;
}

.green__sell{
  background-color: #8fdcad;
  width: 500px;
}

/* 回答はここに書いてね */
