@charset "UTF-8";

/* 回答はここに書いてね */
.q6__box--text{
	width: 90px;
	padding: 10px 0;
	background-color: #e6f2ff;
}

.is__textalign .q6__box--inner{
	text-align: center;
}

.is__textalign .q6__box--text {
	display: inline-block;
}

.is__margin .q6__box--text{
	margin: 0 auto;
	text-align: center;
}

/* ---Q6-2--- */

.is__table {
	display: table;
}

.is__table .q6__box{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.is__table .q6__box--text{
	display: inline-block;
	padding: 10px;
	background-color: #fff;
}

.is__flex{
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.is__flex .q6__box--text{
	padding: 10px;
	background-color: #fff;
}

.fixed{
	position: relative;
}

.fixed > .fixed__text{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
}

.variable{
	position: relative;
}


.variable > .variable__text{
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
}

/* 回答はここに書いてね */
