@charset "UTF-8";

/* 回答はここに書いてね */
.q6--horizontal{
    width: 640px;
    margin: 0 auto;
    padding: 20px 10px;
    font-size: 0;
    text-align: center;
    background-color: #ecf1f2;
}

.q6--horizontal > .q6__box{
    display: inline-block;
    width: 300px;
    margin: 0 10px;
    padding: 10px 0;
    font-size: 16px;
    text-align: left;
    background-color: #fff;
}

.q6--horizontal .q6__box--text{
    width: 90px;
    padding: 10px 0;
    background-color: #e6f2ff;
}

.is__textalign .q6__box--inner{
    text-align: center;
}

.is__textalign .q6__box--text {
    display: inline-block;
}

.is__margin .q6__box--text{
    margin: 0 auto;
    text-align: center;
}

/* ---Q6-2--- */

.q6--around{
    height: 200px;
    width: 300px;
    margin: 0 auto;
    background-color: #ecf1f2;
}

.is__table {
    display: table;
}

.is__table .q6__box{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background-color: #ecf1f2;
}

.is__table .q6__box--text{
    display: inline-block;
    padding: 10px;
    background-color: #fff;
}

.is__flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.is__flex .q6__box--text{
    padding: 10px;
    background-color: #fff;
}

.q6--position{
    margin: 640px;
    margin: 0 auto;
    padding: 20px 10px;
    font-size: 0;
    background-color: #ecf1f2;
}

.q6--position .q6__box{
    position: relative;
}

.q6__position > .q6__box{
    display: inline-block;
    height: 200px;
    width: 300px;
    margin: 0 10px;
    font-size: 16px;
    vertical-align: top;
    background-color: #fff;
}

.is-stable .q6__box__inner{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.is-flexible .q6__box__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.q6__box.is-flexible > .q6__box__inner {
    display: inline-block;
    padding: 10px;
    background-color: #E6F2FF;
}

/* 回答はここに書いてね */
